.borderStyle {
  display: inline-table;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 17px;
  text-decoration-color: #203944;
  print-color-adjust: #203944;
  padding: 7px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 34ch;
  height: auto;
}
.social {
  color: #265177;
  width: auto;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin-bottom: 0px;
}
.email {
  color: #3b719f;
  width: auto;
  position: absolute;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin-top: 360px;
  margin-left: 150px;
}
.textDiv {
  display: inline-table;
  margin-left: 10px;
  width: auto;
}
.avatar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.divForPassword {
  display: block;
  margin-left: 10px;
  width: auto;
}
